images/vid-*.mp4
images/medical-approval-specialist-*.mp4
!images/medical-approval-specialist-1.mp4
!images/medical-approval-specialist-2.mp4
!images/medical-approval-specialist-3.mp4
!images/medical-approval-specialist-4.mp4
